@page "{id:int}"
@model Berrevoets.TutorialPlatform.Pages.Tutorials.ChapterModel
@{
    ViewData["Title"] = Model.Chapter?.Title;
}

<h1>@Model.Chapter?.Title</h1>

<article>
    @Html.Raw(Model.HtmlContent)
</article>