@page "{id:int}"
@model ViewModel
@{
    ViewData["Title"] = Model.Tutorial?.Title;
}

<h1>@Model.Tutorial?.Title</h1>
<p>@Model.Tutorial?.Description</p>

<h3>Chapters</h3>
<ul>
    @foreach (var chapter in Model.Tutorial?.Chapters ?? [])
    {
        <li>
            <a asp-page="/Tutorials/Chapter" asp-route-id="@chapter.Id">@chapter.Title</a>
        </li>
    }
</ul>